/* html{
    font-family: 'Tajawal',
    sans-serif;
} */
* {
    box-sizing: border-box;
}

#emptyList {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    justify-content: center;

}

#cartHeader {
    width: 90%;
    margin: 0 auto;
}

#emptyList img {
    width: 200px;
    margin-bottom: 20px;
}

#shoppingList {
    display: flex;
    flex-direction: column;
    width: 60%;
    /* margin: 0 auto; */
    margin-top: 100px;
    justify-content: space-between;
}

#shoppingList h1 {
    position: absolute;
    top: 30%;
    right: 5%;
    font-size: 30px;
}

.phones-box {
    border: rgb(200, 188, 188) solid 2px;
    margin: 10px;
    padding: 15px;
    width: 90%;
    display: flex;
    position: relative;
    border-radius: 5px;

}

.phones-box img {
    width: 100px;
    position: relative;
    margin-bottom: 80px;
}

.phones-box p {
    position: absolute;
}

.phones-box h2 {
    margin-right: 10px;
    margin-top: 20px;

}

.deletePhones,
#btn {
    position: absolute;
    top: 150px;
    right: 14px;
    padding: 5px 20px;
    text-align: center;
    color: #000;
    border-radius: 5px;
    border-color: rgb(0, 0, 0);
    font-family: 'Tajawal', sans-serif;
    font-size: 20px;
    background-color: #fff;
    margin-top: 2%;
}

#purchaseButton {
    font-size: 15px;
    font-family: 'Tajawal', sans-serif;
    padding: 15px 140px;
    border-radius: 5px;
    border-color: rgb(0, 0, 0);
    margin-top: 5%;
    background-color: #fff;
    margin-right: 6px;
}

.deletePhones:hover,
#btn:hover,
#purchaseButton:hover {
    background-color: black;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

.deletePhones:active,
#btn:active,
#purchaseButton:active {
    transform: scale(0.9);
}

.phonesMemory {
    position: absolute;
    top: 30%;
    right: 17.3%;
}

.items_price {
    position: absolute;
    top: 15%;
    right: 85%;
    color: red(0, 255, 42);
    font-size: 30px;
}

#line {
    position: absolute;
    top: 130px;
    color: rgb(218, 222, 227);
}

#btn {
    position: absolute;
    top: 100px;
    right: 85px;
}

#checkout {
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: 0 auto;
}

#invoice {
    position: absolute;
    width: 423px;
    left: 100px;
    top: 180px;
    border: 2px solid rgb(210, 206, 206);
    border-radius: 10px;
    padding: 20px ;
    background-color: red(244, 238, 238);
    height: 460px;
}

#dataAndPlace {
    display: flex;
    margin-bottom: 20px;
}

#dataAndPlace select {
    margin-right: 20px;
    font-size: 20px;
    padding: 1px 20px;
    border: none;
    /* background-color: rgb(219, 214, 207); */
    border-style: groove;
    border-radius: 5px;
}

#subTotalBox,
#shippingPriceBox,
#grandTotalBox {
    display: flex;
    justify-content: space-between;
}

.cityTextColor {
    color: rgb(43, 230, 43);
    font-weight: bolder;
    /* font-size: large; */
}

#grandTotalText {
    color: red;
    font-size: 20px;
    /* margin-right: 20%; */
    font-weight: bolder;
}

.totalText {
    font-weight: bolder;
}

.lineClass {
    color: rgb(169, 177, 185);
    /* margin-right: 10px; */
    position: relative;
    left: 22px;
}
/* option{
    color: red;
} */
#dataAndPlace select option:hover {
    background-color: black;
    color: red;
}